<header>
  <h1 class="centered">Trip Planner</h1>
  <img src="https://as2.ftcdn.net/v2/jpg/03/18/90/35/1000_F_318903548_oet9Tqww8GCOTmJZQXdbJ2bOCQg6XcsC.jpg" alt="banner" class="banner">
  <%- include('../includes/navigation.ejs') %>
</header>