.trip-form {
    width: 40rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.trip-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background: #212226;
    position: relative;
}

.trip__title {
    font-size: 1.2rem;
    text-align: center;
}

.trip__price {
    text-align: center;
    color: #f2f2f2;
    margin-bottom: 0.5rem;
}

.trip__description {
    text-align: left;
    white-space: pre-wrap;
}